#root {
    border-radius: 3pt;
    border: rgb(251, 176, 64) solid;
    border-width: 2pt;
    margin: auto;
    display: block;
    min-width: 1080px;
    cursor: none
}

#root:active{
	cursor: move;
}

body {
    background-image: -webkit-linear-gradient(top,#B69191,#FBB040);
    user-select: none;
}