#root {
    border-radius: 3pt;
    border: rgb(251, 176, 64) solid;
    border-width: 2pt;
    margin: auto;
    display: block;
    min-width: 1080px;
    cursor: none
}

#root:active {
    cursor: move;
}

body {
    background-image: -webkit-linear-gradient(left, rgba(0, 243, 255, 0.3), rgba(255, 153, 0, 0.3));
    /* user-select: none; */
    font-family: monospace;
}

div.deps-title {
    font-size: 120%;
    font-weight: 120%;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border-bottom: rgba(37, 75, 115, 0.67) solid 1.5px;
    vertical-align: bottom;
    height: 26px;
    text-align: center;
}

tr.exp {
    /* background-color: rgba(180, 245, 180, 0.5); */
}

tr.imp {
    background-color: rgba(255, 232, 146, 0.56);
    cursor: pointer;
}

td.original {
    display: none;
}

td#imp-switch {
    cursor: pointer;
    border-bottom: none;
    padding: 8px;
    font-family: serif;
    /* background-color: deepskyblue; */
    border-radius: 10px;
    height: 32px;
    box-sizing: content-box;
}

td.replaced {
    opacity: 0.6;
}

th {
    /*     background-color: rgba(23, 180, 255, 0.6); */
    background-color: rgba(255, 219, 31, 0.87);
}

ol.dep-chain {
    display: inline-block;
}

ul.dep-chain {
    list-style-type: none;
    /* border: blue solid 1px; */
    display: inline-block;
    padding: 4px;
    vertical-align: top;
    margin: 4px;
    border-radius: 4px;
    background-color: rgba(25, 239, 59, 0.52);
    text-align: center;
}

content>div.warn-dep {
    text-align: center;
    display: block;
    margin: 10px 0px;
}

.warn-title {
    text-align: center;
}

.warn-dep>div>span {
    display: none;
}


ul.dep-chain.auto-upgrade {
    background-color: rgba(65, 152, 216, 0.73);
}

ul.dep-chain.actual-upgrade {
    background-color: rgba(255, 213, 0, 0.59);
    clear: right;
}


tr.imp.replaced,
tr.exp.replaced {
    cursor: pointer;
}

.fullscreen-modal-dialog {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    left: 0;
    top: -100px;
    height: calc(100%);
    transition: all ease .3s;
    width: 100%;
    /* opacity: 0; */
    /* display: none; */
    padding-top: 150px;
    /* transform: translateY(50px); */
}

content {
    background-color: rgb(243, 243, 243);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: #16232c 0px 3px 12px 2px;
    transition: all ease .3s;
    text-align: center;
    max-height: calc(100% - 100px);
    overflow: auto;
    display: block;
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateY(10%);
    opacity: 0;
}