<html>

<head>
    <title>Fancy gradle deps</title>
    <link rel="stylesheet" type="text/css" href="deps.css">
    <script type="text/javascript" src="deps.js"></script>
    <script type="text/javascript" src="vue.min.js"></script>
</head>

<body>
    <input id="select-file" type="file" value="select a deps file" />
    <div id="container">
        <div class="deps-title" v-if="exp.length > 0">依赖列表</div>
        <table v-if="exp.length > 0">
            <tr>
                <th>group</th>
                <th>id</th>
                <th>version</th>
                <th>original version</th>
                <th>module</th>
            </tr>
            <tr v-for="(dep, index) in exp" class="exp" v-bind:class="{ replaced: dep.versionReplaced && dep.sameDepChains }" v-on:click="dep.sameDepChains ? expandExp(index) : ''">
                <td>{{ dep.group }}</td>
                <td>{{ dep.artifact }}</td>
                <td>{{ dep.actualVersion }}</td>
                <td class="replaced">{{ dep.versionReplaced ? dep.originalVersion : '' }}</td>
                <td>{{ dep.parent.artifact }}</td>
            </tr>
            <tr>
                <td colspan="5" id="imp-switch" v-on:click="showImp = !showImp">{{ (showImp ? '收起' : '展开') + '间接依赖项' }}</td>
            </tr>
            <tr v-if="showImp" v-for="(dep, index) in imp" class="imp" v-on:click="expandImp(index)">
                <td>{{ dep.group }}</td>
                <td>{{ dep.artifact }}</td>
                <td>{{ dep.actualVersion }}</td>
                <td class="replaced">{{ dep.versionReplaced ? dep.originalVersion : '' }}</td>
            </tr>
            <tr v-if="warn.length">
                <td colspan="5">被替换版本的显式依赖列表</td>
            </tr>
            <tr v-for="w in warn">
                <td v-if="w.sameDepChains && w.sameDepChains.length > 0" colspan="5">
                    <div class="warn-dep">
                        <div class="warn-title">被替换版本的依赖项：{{ w.group + ':' + w.artifact + ':' + w.originalVersion + ' -> ' + w.actualVersion }}</div>
                        <div>
                            <span>其他依赖关系：</span>
                            <ul class="dep-chain" v-for="chain in w.sameDepChains" v-bind:class="{'actual-upgrade': w != chain[0] && w.actualVersion == chain[0].originalVersion, 'auto-upgrade' : w.originalVersion != chain[0].originalVersion }">
                                <li v-for="node in chain">
                                    {{ (node.group ? (node.group + ':') : '') + node.artifact + (node.originalVersion ? (':' + node.originalVersion) : '') }}
                                </li>
                                </ol>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <transition name="slide-fade">
            <div v-on:click="closeDialog" class="fullscreen-modal-dialog" v-if="dialogDep">
                <content>
                    <div class="warn-dep" v-if="dialogDep">
                        <div class="warn-title">{{ dialogDep.group + ':' + dialogDep.artifact + ':' + dialogDep.originalVersion + (dialogDep.versionReplaced ? (' -> ' + dialogDep.actualVersion) : '') }}</div>
                        <div>
                            <span>其他依赖关系：</span>
                            <ul class="dep-chain" v-for="chain in dialogDep.sameDepChains" v-bind:class="{'actual-upgrade': dialogDep.versionReplaced && dialogDep.actualVersion == chain[0].originalVersion, 'auto-upgrade' : dialogDep.originalVersion != chain[0].originalVersion }">
                                <li v-for="node in chain">
                                    {{ (node.group ? (node.group + ':') : '') + node.artifact + (node.originalVersion ? (':' + node.originalVersion) : '') }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </content>
            </div>
        </transition>
    </div>
</body>

</html>