<html>

<head>
    <title>Fancy gradle deps</title>
    <link rel="stylesheet" type="text/css" href="deps.css">
    <script type="text/javascript" src="deps.js"></script>
    <script type="text/javascript" src="vue.min.js"></script>
</head>

<body>
    <input id="select-file" type="file" value="select a deps file" />
    <div id="container">
        <div class="deps-title" v-if="exp.length > 0">依赖列表</div>
        <table v-if="exp.length > 0">
            <tr>
                <th>group</th>
                <th>id</th>
                <th>version</th>
                <th>original version</th>
                <th>module</th>
            </tr>
            <tr v-for="dep in exp" class="exp">
                <td>{{ dep.group }}</td>
                <td>{{ dep.artifact }}</td>
                <td>{{ dep.actualVersion }}</td>
                <td class="replaced">{{ dep.versionReplaced ? dep.originalVersion : '' }}</td>
                <td>{{ dep.parent.artifact }}</td>
            </tr>
            <tr>
                <td colspan="5" id="imp-switch" v-on:click="showImp = !showImp">{{ (showImp ? '收起' : '展开') + '间接依赖项' }}</td>
            </tr>
            <tr v-if="showImp" v-for="dep in imp" class="imp">
                <td>{{ dep.group }}</td>
                <td>{{ dep.artifact }}</td>
                <td>{{ dep.actualVersion }}</td>
                <td v-bind:class="{replaced : dep.versionReplaced}">{{ dep.originalVersion }}</td>
            </tr>
            <tr>
                <td colspan="5">被替换版本的显式依赖列表</td>
            </tr>
            <tr v-for="w in warn">
                <td v-if="w.sameDepChains.length > 0" colspan="5">
                    <div class="warn-dep">
                        <div class="warn-title">被替换版本的依赖项：{{ w.node.group + ':' + w.node.artifact + ':' + w.node.originalVersion + ' -> ' + w.node.actualVersion }}</div>
                        <div>
                            <span>其他依赖关系：</span>
                            <ul class="dep-chain" v-for="chain in w.sameDepChains" v-bind:class="{'actual-upgrade': w.node.actualVersion == chain[0].originalVersion, 'auto-upgrade' : w.node.originalVersion != chain[0].originalVersion }">
                                <li v-for="node in chain">
                                    {{ (node.group ? (node.group + ':') : '') + node.artifact + (node.originalVersion ? (':' + node.originalVersion) : '') }}
                                </li>
                            </ol>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</body>

</html>